/* GENERAL STYLE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

h2.title {
    color: #fff;
    font-size: 2.375rem;
    text-align: center;
}

h2.titleblack {
    color: #22231c;
    font-size: 2.375rem;
    text-align: center;
}

h2.titleblack span {
    color: #00aaf7;
}

h2.title span {
    color: #00aaf7;
}

b {
    font-weight: 600;
    font-size: 1.7rem;
}

body {
    background-image: url("./images/Background.jpg");
    height: 100vh;
}

.container {
    max-width: 80rem;
    margin: 0 auto;
}

@media (max-width: 1366px) {
    .container {
        max-width: 70rem;
        padding: 0 1rem;
    }

    body{
        zoom: 0.8;
    }

    h2.title, h2.titleblack {
        font-size: 2rem;
    }

    .menu-desktop button {
        font-size: 0.875rem;
    }
}

/* For screens up to 1024px */
@media (max-width: 1024px) {
    .container {
        max-width: 60rem;
        padding: 0 1rem;
    }

    h2.title, h2.titleblack {
        font-size: 1.75rem;
    }

    .menu-desktop button {
        font-size: 0.875rem;
    }
}

/* For screens up to 768px */
@media (max-width: 768px) {
    .container {
        max-width: 40rem;
        padding: 0 1rem;
    }

    h2.title, h2.titleblack {
        font-size: 1.5rem;
    }

    .menu-desktop {
        display: none;
    }

    .menu-mobile {
        display: block;
    }

    .btn-contacts button {
        font-size: 0.875rem;
    }
}

/* For screens up to 480px */
@media (max-width: 480px) {
    .container {
        max-width: 20rem;
        padding: 0 0.5rem;
    }

    h2.title, h2.titleblack {
        font-size: 1.25rem;
    }

    .home-text h1 {
        font-size: 1rem;
    }

    .home-text p {
        font-size: 0.875rem;
    }

    .info-box h3 {
        font-size: 1rem;
    }

    .info-box p {
        font-size: 0.75rem;
    }

    .btn-contacts button {
        font-size: 0.75rem;
    }
}

/* HEADER STYLE */

/* INICIO STYLE */