
/* GENERAL STYLE */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

h2.title{
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.title span{
    color: #00aaf7;
}

b{
    font-weight: 600;
    font-size: 18pt;
}

body{
    background-image: url("./images/estrutura-molecular-brilhante-em-cenario-de-galaxia-futurista-gerado-por-ia.jpg");
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

/* HEADER STYLE */

header{
    width: 100%;
    background-color: #22231c81;
    padding: 1rem;
    box-shadow: 0px 1px 8px #000000;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #fff;
    text-decoration-line: none;
    display: inline-block;
    transition: 0.5s;
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 1rem;
}

header nav ul li a:hover{
    text-shadow: 0px 0px 8px #00aaf7;
    color: #00aaf7;
    transform: scale(1.05);
}

header .logo a{
    display: flex;
    align-items: center;
}

header .logo a h1{
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 16pt;
    padding-left: 10px;
}

header .logo a img{
    max-width: 50px;
}

header .btn-contacts button{
    color: #22231c;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 600;
    background-color: #00aaf7;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s;
}

header .btn-contacts button:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 8px #00aaf7;
}

/* MAIN TOP STYLE */

section.site-top{
    padding: 40px 4%;
}

section.site-top .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

section.site-top .txt-site-top h1{
    color: #fff;
    font-size: 38px;
    padding-bottom: 20px;
}

section.site-top .txt-site-top p{
    color: #fff;
    font-size: 18px;
}

section.site-top .txt-site-top span{
    color: #00aaf7;
}

section.site-top .img-site-top img{
    max-width: 500px;
}

/* MAIN ACTIVITIES STYLE */

section.activities{
    padding: 40px 4%;
}

section.activities .flex{
    gap: 60px;
}

.activities .activities-box{
    background-color: #22231c81;
    border-radius: 25px;
    color: #fff;
    text-align: center;
    padding: 40px;
    transition: 0.5s;
}

.activities .activities-box:hover{
    background-color: #22231c;
    transform:scale(1.05);
    box-shadow: 0 0 8px #00aaf7;
}

.activities .activities-box i{
    font-size: 90px;
    color: #00aaf7;
}

.activities .activities-box h3{
    margin: 15px 0;
    font-size: 28px;
}

.rodape{
    padding: 0 10%;
    height: 225px;
    display: flex;
    align-items: center;
    background-color: #414141;
}

.rodape .coisas{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.rodape h1{
    margin-bottom: 10px;
    text-align: center;
    font-size: 16pt;
}

.mapa{
    position: relative;
    width: 25%;
}

.localizacao{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    text-align: center;
}

.links_uece a img{
    max-width: 225px;
}

.links_uece a{
    margin-bottom: 10px;
}

.social a i{
    font-size: 16pt;
    margin-right: 5px;
}

.rodape a{
    display: flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    color: #fff;
    font-size: 12pt;
    text-decoration: none;
}

.rodape a:hover{
    color: #d2d2d2;
}

.social:not(:last-child){
    margin-bottom: 10px;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    font-size: 10pt;
}

@media (max-width: 800px) {
    .rodape .coisas{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    .rodape{
        padding: 10%;
        height: auto;
    }
    .localizacao{
        text-align: center;
        width: auto;
        margin-bottom: 10px;
    }
    .mapa{
        width: auto;
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }
    .links_uece{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
  }