.activities {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2.5%;
}

.activities .title {
    margin-bottom: 2.5%;
}

.activities .container {
    display: flex;
    margin: 0;
    gap: 1.25%;
}

.activities .info-box {
    padding: 1.25%;
    background-color: #d2d2d2;
    color: #000000;
    height: 10em;
    width: 13.33em;
}

.activities .info-box h3 {
    font-size: 1em;
}

.activities .info-box i {
    font-size: 3.125em;
}

.activities .info-box:hover {
    background-color: none;
}

@media (max-width: 1500px) {
    .activities .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 1080px) {
    .activities .info-box {
        max-height: 10em;
        max-width: 10em;
    }
    .activities .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}