.activities {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2.5%;
}

.activities .title {
    margin-bottom: 2.5%;
}

.activities .container {
    display: flex;
    margin: 0;
    gap: 1.25%;
}

.activities .info-box {
    padding: 1.25%;
    background-color: #d2d2d2;
    color: #000000;
    height: 10em;
    width: 13.33em;
}

.activities .info-box h3 {
    font-size: 1em;
}

.activities .info-box i {
    font-size: 3.125em;
}

.activities .info-box:hover {
    background-color: none;
}


/* For screens up to 1080px */
@media (max-width: 1080px) {
    .activities .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .activities .info-box {
        height: 8em;
        width: 10em;
    }

    .activities .info-box i {
        font-size: 2em;
    }

    .activities .info-box h3 {
        font-size: 0.75em;
    }
}

/* For screens up to 768px */
@media (max-width: 768px) {
    .activities .container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .activities .info-box {
        height: 7em;
        width: 9em;
    }

    .activities .info-box i {
        font-size: 1.75em;
    }

    .activities .info-box h3 {
        font-size: 0.75em;
    }
}

/* For screens up to 480px */
@media (max-width: 480px) {
    .activities .container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .activities .info-box {
        height: 6em;
        width: 8em;
    }

    .activities .info-box i {
        font-size: 1.5em;
    }

    .activities .info-box h3 {
        font-size: 0.625em;
    }
}