.events {
    background-color: #ffffffe8;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2.5%;
}

.events .title {
    margin-bottom: 1.25%;
    color: #22231c;
}

.events .container {
    position: relative;
    width: 100%;
    max-width: 62.5em;
    margin: 0 auto;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.slide {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    box-sizing: border-box;
    padding: 1.25%;
    text-align: left;
}

.image-box {
    flex: 1 1 40%;
    height: auto;
    background-color: #d2d2d2;
    color: #000000;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.25em;
}

.image-box img {
    width: 100%;
    height: 35vh; 
    object-fit: cover; 
}

.description {
    flex: 1 1 55%;
    margin-left: 1.25%;
    padding: 1.25%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
}

.description h2 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #22231c;
    margin-bottom: 0.9375em;
}

.description p {
    margin: 0;
    font-size: 1em;
    color: #555;
    line-height: 1.5;
    white-space: normal;
    text-overflow: clip;
    overflow: visible;
}

.dot-container {
    position: absolute;
    bottom: 0.625em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.dot {
    height: 0.9375em;
    width: 0.9375em;
    margin: 0 0.1875em;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease;
    cursor: pointer;
}

.dot.active {
    background-color: #000000;
}