.events {
    background-color: #ffffffe8;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.events .title {
    margin-bottom: 20px;
    color: #22231c;
}

.events .container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.carousel {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
}

.slide {
    display: flex;
    align-items: center;
    /* Ajusta o alinhamento vertical */
    justify-content: flex-start;
    /* Alinha o conteúdo à esquerda */
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    text-align: left;
}

.image-box {
    flex: 1 1 40%;
    height: auto;
    background-color: #d2d2d2;
    color: #000000;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.image-box img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

.description {
    flex: 1 1 55%;
    margin-left: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Alinha o conteúdo ao início do container */
    overflow: hidden;
    /* Garante que o texto não exceda o container */
}

.description h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    color: #22231c;
    margin-bottom: 15px;
}

.description p {
    margin: 0;
    font-size: 16px;
    color: #555;
    line-height: 1.5;
    white-space: normal;
    text-overflow: clip;
    overflow: visible;
    /* Garante que o texto não seja cortado */
}

.dot-container {
    position: absolute;
    bottom: 10px;
    /* Ajuste conforme necessário */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.dot {
    height: 15px;
    width: 15px;
    margin: 0 3px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease;
    cursor: pointer;
}

.dot.active {
    background-color: #000000;
}