section.home {
    padding: 2.5rem 4%; /* 40px */
    height: 99vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 1vh;
}

section.home .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5.625rem; /* 90px */
}

section.home .home-text h1 {
    color: #fff;
    font-size: 2.375rem; /* 38px */
    padding-bottom: 1.25rem; /* 20px */
}

section.home .home-text p {
    color: #fff;
    font-size: 1.125rem; /* 18px */
}

section.home .home-text span {
    color: #00aaf7;
}

section.home .img-inicio {
    max-width: 50rem;
}

/* MAIN PILARES STYLE */

div.pillars {
    padding: 2.5rem 4%; /* 40px */
}

div.pillars .container {
    display: flex;
    gap: 3.75rem; /* 60px */
}

@media (max-width: 1080px) {
    section.home {
        margin-top: 5.9375rem; /* 95px */
        height: auto;
        align-items: center;
        padding: 10%;
    }

    section.home .container {
        gap: 1.25rem; /* 20px */
        margin-bottom: 1.25rem; /* 20px */
        flex-direction: column;
        align-items: center;
    }

    section.home .img-inicio {
        display: flex;
        align-items: center;
    }

    section.home .home-image img {
        max-width: 20rem;
    }

    div.pillars {
        padding: 0;
    }
    div.pillars .container {
        flex-direction: column;
        gap: 1.25rem; /* 20px */
    }
}

@media (max-width: 1366px) {
    section.home {
        padding: 2.5rem 4%; /* 40px */
        height: 110vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 15vh;
    }
}