.info-box {
    background-color: #22231c81;
    border-radius: 1.5625rem; /* 25px */
    color: #fff;
    text-align: center;
    padding: 2.5rem; /* 40px */
    transition: 0.5s;
}

.info-box:hover {
    background-color: #22231c;
    transform: scale(1.05);
    box-shadow: 0 0 0.5rem #00aaf7; /* 8px */
}

.info-box i {
    font-size: 5.625rem; /* 90px */
    color: #00aaf7;
}

.info-box h3 {
    margin: 0.9375rem 0; /* 15px */
    font-size: 1.75rem; /* 28px */
}