.info-box {
    background-color: #22231c81;
    border-radius: 1.5625rem; /* 25px */
    color: #fff;
    text-align: center;
    padding: 2.5rem; /* 40px */
    transition: 0.5s;
}

.info-box:hover {
    background-color: #22231c;
    transform: scale(1.05);
    box-shadow: 0 0 0.5rem #00aaf7; /* 8px */
}

.info-box i {
    font-size: 5.625rem; /* 90px */
    color: #00aaf7;
}

.info-box h3 {
    margin: 0.9375rem 0; /* 15px */
    font-size: 1.75rem; /* 28px */
}

@media (max-width: 1366px) {
    .info-box i {
        font-size: 4.375rem; /* 70px */
    }

    .info-box h3 {
        font-size: 1.5rem; /* 24px */
    }
}

/* For screens up to 1080px */
@media (max-width: 1080px) {
    .info-box i {
        font-size: 3.75rem; /* 60px */
    }

    .info-box h3 {
        font-size: 1.25rem; /* 20px */
    }
}

/* For screens up to 768px */
@media (max-width: 768px) {
    .info-box i {
        font-size: 3.125rem; /* 50px */
    }

    .info-box h3 {
        font-size: 1rem; /* 16px */
    }
}

/* For screens up to 480px */
@media (max-width: 480px) {

    .info-box i {
        font-size: 2.5rem; /* 40px */
    }

    .info-box h3 {
        font-size: 0.875rem; /* 14px */
    }
}