.carrosel_petianos {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 300px;
    width: 80%;
}

.conteiner_petianos {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

#img_petianos {
    object-fit: cover;
    height: 300px;
    width: 302px;
}