.carrosel_petianos {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 18.75em; /* 300px assuming 1em = 16px */
    width: 80%;
}

.conteiner_petianos {
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

#img_petianos {
    object-fit: cover;
    height: 18.75em; /* 300px assuming 1em = 16px */
    width: 18.875em; /* 302px assuming 1em = 16px */
}