.projects {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2.5em;
}

.projects .title {
    margin-bottom: 1.25em;
}

.projects .container {
    display: flex;
    margin: 0;
    gap: 3.125em;
    height: 100%;
}

.projects .info-box {
    padding: 0.625em;
    background-color: #d2d2d2;
    color: #000000;
    height: 100%;
    width: 21.875em;
}

.projects .info-box h3 {
    font-size: 1.25em;
}
.projects .info-box span {
    color: #00aaf7;
}

.projects .info-box p {
    max-width: 100%;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: block-axis;
    padding-bottom: 0 0.625em 0.625em 0.0625em;
}

.projects .info-box:hover {
    background-color: #fff;
}

.projectButton {
    padding: 0.625em;
    margin-top: 0.9375em;
    margin-bottom: 0.9375em;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 0.625em;
    cursor: pointer;
    text-align: center;
    align-self: center;
}

a {
    text-decoration: none;
}

.contactButton:hover {
    background-color: #555;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    border: 0.625em solid #888;
    width: 50%;
    height: 100%;
    border-radius: 0.625em;
    overflow: scroll;
}

.modal-content p {
    font-size: 1em;
    margin: 1.5625em;
    text-align: justify;
}

.modal-header {
    background-color: #0B845C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.9375em;
}

.modal-header img {
    width: 11.875em;
    height: 1.875em;
}

#close {
    color: #fff;
    font-size: 1.75em;
    font-weight: bold;
    cursor: pointer;
}

#close:hover, #close:focus {
    color: black;
    text-decoration: none;
}

.group-buttons {
    margin: 1.25em;
    justify-content: space-between;
}

.group-buttons .react {
    background-color: #20232a;
    color: #fff;
    padding: 0.1875em 0.3125em 0;
    border-radius: 0.3125em;
    font-weight: 500;
    font-size: 0.8125em;
    max-width: fit-content;
    box-sizing: unset;
    margin: 0 0.5em 0.5em 0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.group-buttons .javascript {
    background-color: #fcdc00;
    color: #fff;
    padding: 0.1875em 0.3125em 0;
    border-radius: 0.3125em;
    font-weight: 500;
    font-size: 0.8125em;
    max-width: fit-content;
    box-sizing: unset;
    margin: 0 0.5em 0.5em 0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.group-buttons .nodejs {
    background-color: #417e38;
    color: #fff;
    padding: 0.1875em 0.3125em 0;
    border-radius: 0.3125em;
    font-weight: 500;
    font-size: 0.8125em;
    max-width: fit-content;
    box-sizing: unset;
    margin: 0 0.5em 0.5em 0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.group-buttons .mysql {
    background-color: #3E6E93;
    color: #fff;
    padding: 0.1875em 0.3125em 0;
    border-radius: 0.3125em;
    font-weight: 500;
    font-size: 0.8125em;
    max-width: fit-content;
    box-sizing: unset;
    margin: 0 0.5em 0.5em 0;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.modal-image-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 70%;
    overflow: hidden;
    padding: 0.9375em;
}

.arrow {
    font-size: 1.875em;
    color: #000;
    cursor: pointer;
    user-select: none;
    margin: 0 0.625em;
}

.horizontal-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.625em;
    height: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.horizontal-slider img {
    width: auto;
    height: 25em;
    object-fit: contain;
    border-radius: 0.625em;
    border: 0.125em solid #000000;
    background-color: #000000;
}

@media (max-width: 1080px) {
    .projects .info-box {
        height: auto;
        width: 15.625em;
    }
    .projects .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .projects .info-box {
        height: auto;
        width: 15.625em;
    }
    .projects .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 480px) {
    .projects .info-box {
        height: auto;
        width: 13.625em;
    }
    .projects .container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}