/* Define que a propriedade box-sizing de todos os elementos será border-box, incluindo margens e preenchimento no cálculo da largura e altura */
* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.sobre {
    background-color: #ffffffe8;
}

/* Estilos para a div que contém a seção "Sobre" */
.pet-computacao-sobre-section {
    padding: 28px 56px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centraliza verticalmente */
    text-align: center;
}

/* Estilos para o parágrafo que contém o título "Sobre" */
.pet-computacao-sobre-title {
    font-size: 45px;
    display: flex;
    justify-content: center;
    text-align: center;
}

/* Estilos para o span que contém a letra "S" */
.pet-computacao-sobre-title-s {
    color: #22231c;
}

/* Estilos para o span que contém a palavra "OBRE" */
.pet-computacao-sobre-title-obre {
    color: #00A8ED;
}

/* Estilos para a div que contém o conteúdo principal */
.pet-computacao-content {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinha o conteúdo à esquerda */
    margin-top: 20px;
    gap: 40px; /* Ajusta o espaçamento entre a imagem e o texto */
    width: 100%;
    max-width: 1200px; /* Limita a largura máxima do conteúdo */
}

/* Estilos para as divs que contêm a foto e o texto */
.pet-computacao-photo,
.pet-computacao-text {
    flex: 1;
    padding: 10px;
    color: #000000;
}

/* Estilos para a imagem dentro da div .pet-computacao-photo */
.pet-computacao-photo img {
    max-width: 100%;
    height: auto;

}

/* Estilos para a classe específica da imagem dos petianos */
.pet-computacao-img-petianos {
    width: 450px;
    border-radius: 50px;
    object-fit: cover;
}

/* Estilos para a div que contém a seção "Petianos" */
.pet-computacao-petianos-section {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para o parágrafo que contém o título "Petianos" */
.pet-computacao-petianos-title {
    font-size: 45px;
    display: flex;
}

/* Estilos para o span que contém a palavra "PET" */
.pet-computacao-petianos-title-pet {
    color: #000000;
}

/* Estilos para o span que contém a palavra "IANOS" */
.pet-computacao-petianos-title-ianos {
    color: #00A8ED;
}

