
.sobre {
    background-color: #ffffffe8;
    padding: 2.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.titleblack {
    margin-bottom: 1.25em;
}

.pet-computacao-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.25rem; /* 20px */
    gap: 2.5rem; /* 40px */
    max-width: 100rem; /* 1200px */
}

.pet-computacao-content p {
    padding: 5px 1%; 
    font-size: 22px; 
    color: #000000;
    text-align: justify;

}

.pet-computacao-content img {
    height: auto;
    border-radius: 3.125rem; /* 50px */
    object-fit: cover;
}

.pet-computacao-petianos-section {
    padding: 2.5rem 5rem; /* 40px */
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 1080px) {
    .sobre .pet-computacao-content {
        display: flex;
        grid-template-columns: 1fr;
    }
    .pet-computacao-content img {
        max-width: 100%;
        height: auto;

        width: 28.125rem; /* 450px */
        border-radius: 3.125rem; /* 50px */
        object-fit: cover;
    }
}

/* For screens up to 768px */
@media (max-width: 768px) {
    .sobre .pet-computacao-content {
        display: grid;
        grid-template-columns: 1fr;
    }
    .pet-computacao-content img {
        max-width: 100%;
        height: auto;

        width: 28.125rem; /* 450px */
        border-radius: 3.125rem; /* 50px */
        object-fit: cover;
    }
}

/* For screens up to 480px */
@media (max-width: 480px) {
    .sobre .pet-computacao-content {
        display: grid;
        grid-template-columns: 1fr;
    }
    .pet-computacao-content img {
        max-width: 100%;
        height: auto;

        width: 28.125rem; /* 450px */
        border-radius: 3.125rem; /* 50px */
        object-fit: cover;
    
    }
}